<div class="divInicio01">

    <div class="divInicio02 colorSubtituloInicio">
        <h3 class="textoCentrado">Sección inicio de: MyAppWebFront</h3>
    </div>

    <div class="divInicio02 colorParrafoInicio">
        <p>Este sitio lo inicié como modo de práctica en programación web; aquí pretendo ir agregando contenido
            sobre diferentes temas, algunos de estos contenidos son parte de los apuntes que me han sido útiles
            a lo largo de mi formación; también van a encontrar contenido generado por colaboradores de este
            proyecto.
        </p>
        <p>En algunas secciones utilizo recursos obtenidos de algunos sitios en internet, que voy agregando 
            al pié de la página. Si alguien reconoce algun contenido como propio, y no lo agregué como 
            referencia, o si es un recurso que no puedo utilizar, pueden comunicarse por los medios que figuran 
            al final de esta página, para hacer la referencia al autor; retirarlo si es necesario.
        </p>
        <p>Quiero aclarar que no pretendo hacer verdaderos tutoriales sobre cada tema abordado, ya que se trata
            principalmente de apuntes. Si alguien quiere algún tema más completo, hay cientos de sitios más 
            especializados que muestran estos temas completos. De todos modos, si en lo que yo presento 
            aquí, alguien encuentra algún error, pueden hacermelo saber para corregirlo.
        </p>

    </div>
    
</div>