
/*
.colorConfigVariable {
    background-color: var(--color_fondo_03, "rgb(255,255,255)");
    color: var(--color_texto_03, "rgb(0,0,0)");
}
*/

.divConfig01 {

    background-color: var(--color_fondo_alfa_01, rgba(115, 197, 183, 0.548));
    
    margin: 5px;
    padding: 10px;
    border: 1px solid black;

}

.divConfig02 {
    background-color: var(--color_back_03, rgba(230, 230, 230, 0.774));

    margin: 5px;
    padding: 10px;
    border: 1px solid green;
}

.divConfig03 {
    background-color: var(--color_back_04, rgb(229, 230, 212));
    
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(219, 216, 41);
}

/*
.divConfig04 {

    background-color: var(--color_fondo_03, rgb(194, 45, 45));
    color: var(--color_texto_03, rgb(10,10,10));

    display: inline-block;

    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(185, 48, 14);
}
*/

.estiloLabel01 {    
    margin: 10px;
}

.estiloBoton01 {
    margin: 10px;
}

.estiloElemento_01 {
    color: var(--color_elemento_01, black);    
}
.estiloBack_01 {
    background-color: var(--color_back_01, yellow);
}
.estiloElemento_02 {
    color: var(--color_elemento_02, blue);
}
.estiloBack_02 {
    background-color: var(--color_back_02, pink);
}
.estiloElemento_03 {
    color: var(--color_elemento_03, red);    
}
.estiloBack_03 {
    background-color: var(--color_back_03, orange);
}
.estiloElemento_04 {
    color: var(--color_elemento_04, green);
}
.estiloBack_04 {
    background-color: var(--color_back_04, white);
}

/*

    --color_back_01: yellow;
    --color_back_02: pink;
    --color_back_03: orange;
    --color_back_04: white;     

*/