<div class="divConfig01">
    
    <div class="divConfig02">
        
        <div class="divConfig03">
            <h5>Configuración de estilos de la página</h5>
        </div>

    </div>

    <div class="container-fluid">
              
        <div class="divConfig02">

            <div class="divConfig03 border border-dark my-2 py-2">
                <h4 class="text-center">Configuración de colores</h4>
            </div>

            <div class="divConfig03 px-2 py-2">

                <div class="row gx-0 my-1" [ngStyle]="{'border': estiloBordeElemento_01}">

                    <div class="col-xs-12 col-md-6" [ngStyle]="{'background-color': arrayColores_01[1]}">
                        <h1 class="px-2 py-2" [ngStyle]="{'color': arrayColores_01[0]}">Color Titulos 01</h1>
                    </div>

                    <div class="col-xs-12 col-md-6">

                        <div class="mx-2 my-2 px-2 py-2" *ngIf="elementoConBordeSeleccionado != 'elemento_01'">
                            <button type="button" (click)="btnEditarColorElemento('elemento_01')">editar color</button>
                        </div>

                        <div class="mt-2" *ngIf="elementoConBordeSeleccionado == 'elemento_01'">
                            <label class="mx-3">Color Texto</label> <input type="color"
                                [(ngModel)]="arrayColores_01[0]">

                            <label class="mx-3">Color Fondo</label> <input type="color"
                                [(ngModel)]="arrayColores_01[1]">
                        </div>

                    </div>

                </div>

                <div class="row gx-0 my-1" [ngStyle]="{'border': estiloBordeElemento_02}">

                    <div class="col-xs-12 col-md-6" [ngStyle]="{'background-color': arrayColores_01[3]}">
                        <h2 class="px-2 py-2" [ngStyle]="{'color': arrayColores_01[2]}">Color Títulos 02</h2>
                    </div>

                    <div class="col-xs-12 col-md-6">

                        <div class="mx-2 my-2 px-2 py-2" *ngIf="elementoConBordeSeleccionado != 'elemento_02'">
                            <button type="button" (click)="btnEditarColorElemento('elemento_02')">editar color</button>
                        </div>

                        <div class="mt-2" *ngIf="elementoConBordeSeleccionado == 'elemento_02'">
                            <label class="mx-3">Color Texto</label> <input type="color"
                                [(ngModel)]="arrayColores_01[2]">
                            <label class="mx-3">Color Fondo</label> <input type="color"
                                [(ngModel)]="arrayColores_01[3]">
                        </div>
                    </div>

                </div>

                <div class="row gx-0 my-1" [ngStyle]="{'border': estiloBordeElemento_03}">

                    <div class="col-xs-12 col-md-6" [ngStyle]="{'background-color': arrayColores_01[5]}">
                        <h3 class="px-2 py-2" [ngStyle]="{'color': arrayColores_01[4]}">Color Subtítulos</h3>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="mx-2 my-2 px-2 py-2" *ngIf="elementoConBordeSeleccionado != 'elemento_03'">
                            <button type="button" (click)="btnEditarColorElemento('elemento_03')">editar color</button>
                        </div>
                        <div class="mt-2" *ngIf="elementoConBordeSeleccionado == 'elemento_03'">
                            <label class="mx-3">Color Texto</label><input type="color" [(ngModel)]="arrayColores_01[4]">
                            <label class="mx-3">Color Fondo</label><input type="color" [(ngModel)]="arrayColores_01[5]">
                        </div>
                    </div>

                </div>

                <div class="row gx-0 my-1" [ngStyle]="{'border': estiloBordeElemento_04}">

                    <div class="col-xs-12 col-md-6"
                        [ngStyle]="{'background-color': arrayColores_01[7], 'color': arrayColores_01[6]}">
                        <p class="ms-2 px-2 py-2">Color párrafos</p>
                        <ul class="ms-2 px-3 py-2">
                            <li>Color Listas</li>
                        </ul>
                    </div>

                    <div class="col-sx-12 col-md-6">

                        <div class="mx-2 my-2 px-2 py-2" *ngIf="elementoConBordeSeleccionado != 'elemento_04'">
                            <button type="button" (click)="btnEditarColorElemento('elemento_04')">editar color</button>
                        </div>

                        <div class="mt-2" *ngIf="elementoConBordeSeleccionado == 'elemento_04'">
                            <label class="mx-3">Color Texto</label> <input type="color"
                                [(ngModel)]="arrayColores_01[6]">
                            <label class="mx-3">Color Fondo</label><input type="color" [(ngModel)]="arrayColores_01[7]">
                        </div>
                    </div>

                </div>

            </div>

            <div class="mx-2 my-1 px-2 py-1">
                <button (click)="establecerColoresYGuardarCambios()" class="mx-2">Guardar Cambios y salir</button>
                <button (click)="establecerValoresPredeterminados()" class="mx-2">Volver a valores
                    predeterminados</button>
                <button (click)="salirSinGuardarCambios()" class="mx-2">Salir sin guardar Cambios</button>
            </div>
        </div>

        <div class="divConfig02">
            <div class="divConfig03">

                <h4>Configurar Tamaño texto</h4>

                <label class="mx-2" for="sizeTexto">Tamaño del texto </label>

                <select name="sizeTexto" id="sizeTexto" (change)="establecerFontSize()" [(ngModel)]="fontSizeSelect">
                    <option value="70">Tamaño texto : 70%</option>
                    <option value="80">Tamaño texto : 80%</option>
                    <option value="90">Tamaño texto : 90%</option>
                    <option value="100">Tamaño texto : 100%</option>
                    <option value="110">Tamaño texto : 110%</option>
                    <option value="120">Tamaño texto : 120%</option>
                    <option value="130">Tamaño texto : 130%</option>
                    <option value="140">Tamaño texto : 140%</option>
                </select>

            </div>

        </div>
    </div>

</div>