<div class="divBody01">
    
    <!-- En este div coloqué una imagen desde css -->
    
    <app-header></app-header>

    <app-navegacion></app-navegacion>

     <!--
    <app-configstyle></app-configstyle>   
    <app-inicio></app-inicio>  
    <app-paises></app-paises> 
    <app-ciudades></app-ciudades> -->

    <!-- En el siguiente router-outlet colocar luego: inicio, paices y otros -->

    <main class="px-1 py-1 fondo_alfa_main_01">

        <div class="div_main_01">

            <div class="div_router">

                <router-outlet></router-outlet>

            </div>
            
            <div class="div_aside_main"> 

                <aside class="aside_main">
                    <p class="item_aside_main">enlace Aside Main 01</p>
                    <p class="item_aside_main">enlace aside main 02</p>
                    <p class="item_aside_main">enlace aside main 03</p>
                    <p class="item_aside_main">enlace aside main 04</p>
                    <p class="item_aside_main">enlace aside main 05</p>
                </aside>
               
            </div>

        </div>        
    
    </main>

    <app-footer></app-footer>

</div>