<nav class="estiloNav">

    <div class="divNav01">

        <h4>Sección de navegación para la página</h4>

        <div class="divNav02">
            <h4>Navegación item 01</h4>
        </div>

        <div class="divNav02">
            <h4>Navegación item 02</h4>
        </div>

        <div class="divNav02">
            <h4>Navegación item 03</h4>
        </div>

        <div class="divNav02">
            <h4>Navegación item 04</h4>
        </div>
        
        <div class="divNav02">
            <h4>Navegación item 05</h4>
        </div>

        <div class="divNav02">
            <h4>Navegación item 06</h4>
        </div>
        
    </div>

</nav>
