
<nav class="estiloNav">

    <div class=" divNav01">

        <div class="row gx-0 divNav02">

            <div class="col-6 col-sm-6 col-md-4 col-lg-2 text-center">
                <h5><a routerLink="/inicio">Inicio</a></h5>                
            </div>
    
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 text-center">
                <h5><a routerLink="/paises">Paises</a></h5>                
            </div>
    
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 text-center">
                <h5><a routerLink="/ciudades">Ciudades</a></h5>                
            </div>
    
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 text-center">
                <h5><a routerLink="/fisica&quimica">Física & Química</a></h5>                
            </div>
    
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 text-center">
                <h5><a routerLink="/apuntes">Apuntes</a></h5>                
            </div>
    
            <div class="col-6 col-sm-6 col-md-4 col-lg-2 text-center">
                <h5><a routerLink="/configuracion">Configuración</a></h5>                
            </div>

        </div>        

    </div>

</nav>


