
<nav class="estiloNav">

    <div class="divNav01">

        <h4>Sección de navegación para la página</h4>

        <div class="row">
            <div class="col divNav02">
                <a href="#"><h5>Navegación item 01</h5></a>                
            </div>
    
            <div class="col divNav02">
                <a href="#"><h5>Navegación item 02</h5></a>                
            </div>
    
            <div class="col divNav02">
                <a href="#"><h5>Navegación item 03</h5></a>                
            </div>
    
            <div class="col divNav02">
                <a href="#"><h5>Navegación item 03</h5></a>                
            </div>
    
            <div class="col divNav02">
                <a href="#"><h5>Navegación item 05</h5></a>                
            </div>
    
            <div class="col divNav02">
                <a href="#"><h5>Navegación item 06</h5></a>                
            </div>
        </div>        

    </div>

</nav>