

<div class="div_apuntes_01 mx-1 my-2 px-2 py-2">

    <div class="div_apuntes_02 px-2 py-2">
        <h2>Espacio para apuntes</h2>
    </div>

    <div class="container-fluid div_apuntes_02">

        <div class="row">
            <div class="col-lg-3 div_apuntes_col_left_01">
                <h6>Espacio para navegar</h6>
                <h6>por categorías de apuntes</h6>

                <ol>
                    <li>Categoría 01</li>
                    <li>Categoría 02</li>
                    <li>Categoría 03</li>
                    <li>Categoría 04</li>
                    <li>Categoría 05</li>
                </ol>
                
            </div>
            <div class="col-lg-9 div_apuntes_col_right_01">
                <h5>Desarrollo de apuntes</h5>
            </div>
        </div>
    </div>
    
</div>
