<header class="estiloHeader">
    
    <div class="">
        <h1 class="textoCentrado colorTituloHeader rounded-3">La Web de Salvador Mauricio</h1>       
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img class="fotoMauricio01" src="\assets\imagenes_01\Mauricio_Diciembre_23_200px.jpg" alt="foto de Mauricio">

            </div>
            <div class="col-8 pt-4">
                <h3 class="colorSubtituloHeader text-center px-2 py-2 rounded-3">Un sitio con un poco de todo</h3>
            </div>

        </div>
    </div>
   
    <!--
    <div>
        <img src="\assets\imagenes_01\IMG_Banner_592.jpg" alt="imagen banner" width="100%">
    </div>
    -->
</header>