
.estiloHeader {
    /*
    background-color: var(--color_fondo_alfa_01, rbg(100, 120, 140, 0.7));
    */
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
.colorTituloHeader {
    background-color: var(--color_back_01, rgb(255, 255, 255));
    color: var(--color_elemento_01, rgb(0, 0, 0));
}
.colorSubtituloHeader {
    background-color: var(--color_back_02, rgb(255, 255, 255));
    color: var(--color_elemento_02, rgb(0, 0, 0));
}
.textoCentrado {
    text-align: center;
}
/*
.divFoto01 {    
    position: absolute;
    z-index: 20;    
    margin-top: 200px;
    margin-left: 20px;   
} */

/*
.fotoMauricio01 {  
    border-radius: 70px;
}
*/

@media (max-width: 599px) {
    .posicion_foto {
        margin-top: 30px;
        margin-left: 5px;
    }
    .fotoMauricio01 {
        width: 70px;
        border-radius: 20px;
    }

}
@media (min-width: 600px) {
    .posicion_foto {
        margin-top: 40px;
        margin-left: 7px;
    }
    .fotoMauricio01 {
        width: 90px;
        border-radius: 30px;
    }

}
@media (min-width: 700px) {
    .posicion_foto {
        margin-top: 50px;
        margin-left: 9px;
    }
    .fotoMauricio01 {
        width: 100px;
        border-radius: 40px;
    }
}
@media (min-width: 800px) {
    .posicion_foto {
        margin-top: 60;
        margin-left: 10px;
    }
    .fotoMauricio01 {
        width: 130px;
        border-radius: 50px;
    }
}
@media (min-width: 900px) {
    .posicion_foto {
        margin-top: 70px;
        margin-left: 18px;
    }
    .fotoMauricio01 {
        width: 140px;
        border-radius: 60px;
    }
}
@media (min-width: 1000px) {
    .posicion_foto {
        margin-top: 80px;
        margin-left: 12px;
    }
    .fotoMauricio01 {
        width: 150px;
        border-radius: 70px;
    }
}
@media (min-width: 1200px) {
    .posicion_foto {
        margin-top: 99px;
        margin-left: 15px;
    }
    .fotoMauricio01 {
        width: 170px;
        border-radius: 80px;
    }
}