.divPaises01 {
    background-color: var(--color_fondo_alfa_01, rgba(100, 200, 210, 0.5));

    margin: 5px;
    padding: 10px;

}

.divPaises02 {
    background-color: var(--color_back_02);
    color: var(--color_elemento_02);

    margin: 5px;
    padding: 10px;
}

.divPaises03 {
    background-color: var(--color_back_03, rgb(200, 200, 200));
    color: var(--color_elemento_03, rgb(20, 20, 20));
    margin: 5px;
    padding: 10px;
}

.divPaises04 {

    margin: 5px;
    padding: 10px;
    border: 1px solid var(--color_elemento_03, rgb(20, 20, 20));
}

.listaPaisesConScroll {
    max-height: 600px;
    overflow: scroll;
}

.itemPais01 {      

    background-color: rgb(218, 226, 173);
    min-width: 120px;

    margin: 5px;
    padding: 10px;

    text-align: center;
    border: 1px solid var(--color_elemento_03, rgb(20, 20, 20));

}

.descripcionPais dt {
    font-size: 1.1em;
}

.descripcionPais dd {
    font-size: 1.1em;
}

.textoCentrado {
    text-align: center;
}

.divEspacioVacio01 {
    min-height: 200px;
}

.divImagenBandera {
    display: inline-block;
    border: 1px solid black;
}

/*
.divConImagenFondo01 {
    background-image: url("/assets/imagenes_01/Planisferio_paralelos_merid.jpg");
    
}  */
